.subheader {
  background-color: #272343;
  padding: 6px 0;
  &-left {
    p {
      color: #fff;
      margin: 0;
      font-size: 13px;
    }
  }
  &-right {
    color: #fff;
    select{
      background-color: transparent;
      border:unset;
    }
    &:focus{
      border:unset;
      outline:unset;
    }
    option{
      color:black;
    }
  }

  select, a{
    padding: 0px 16px;
    color: #fff;
    font-size: 13px;
  }
}
