.product-item {
  transition: all .3s ease;
  margin-bottom: 50px;
  &:hover{
    box-shadow: 0px 12px 18px 12px #16193212;
  }
justify-content: space-around;
  .image {
    height: 312px;
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .label {
      position: absolute;
      left: 20px;
      top: 20px;
    }
    .icon-button {
      position: absolute;
      top: 15px;
      right: 20px;
      border-radius: 10px;
    }
  }
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  align-items: center;

  .icon-button.cart{
    background-color: #fff;
    color: $color;
  }
  .info{
    a{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;
      &:hover{
        color: $color;
      }
    }
    p{
      margin: 0;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.icon-button.cart {
  background-color: #fff;
  color: $color;
  &:hover{
    background-color: $color;
    color: #fff;
  }
}

.label {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: $color;
  color: #fff;
  display: inline-block;
}
.section-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  h3{
    font-size: 32px;
  }
}

.sales{
  background-color: $sale-color;
}
