.top-categories {
  margin-top: 80px;
}

.category-item {
  height: 424px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  margin-bottom: 30px;
  .image img {
    height: 424px;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
  }
  .content {
    background-color: (#000000a6);
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    h3 {
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 8px;
    }
    small {
      font-size: 14px;
      color: #fff;
    }
  }
  &:hover {
    box-shadow: 0px 18px 20px 0px #0f0f1312;
    .content{
      background: rgba($color,.7);
    }
    img{
      transform: scale(1.2);
    }
  }
}
