.banner {
  background-color: $lightshade;
  width: calc(100vw - 180px);
  height: 850px;
  margin: 0 auto;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &-wrapper {
    position: relative;

    .slider-arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 999;
    }
    .banner-slider-content {
      align-items: center;
      margin-left: 80px;
    }
    .banner-slider-left {
      .subtitle {
        font-size: 14px;
        font-weight: 300;
        color: $color;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      h1 {
        font-size: 68px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 24px;
      }
    }
    .banner-slider-right {
      position: relative;
      .info {
        position: absolute;
        top: 10%;
        right: 0;
        height: 124px;
        width: 140px;
        background-image: url(/img/banner-blob.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      img {
        margin-top: 20%;
      }
      .amount {
        font-size: 2rem;
        font-weight: 700;
        color: #f05c52;
      }
      .text {
        color: $primary;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
