//Subheader
.subheader {
  background-color: #272343;
  padding: 6px 0;
  &-left {
    p {
      color: #fff;
      margin: 0;
      font-size: 13px;
    }
  }
  &-right {
    color: #fff;
    select {
      background-color: transparent;
      border: unset;
    }
    &:focus {
      border: unset;
      outline: unset;
    }
    option {
      color: black;
    }
  }

  select,
  a {
    padding: 0px 16px;
    color: #fff;
    font-size: 13px;
  }
}
//Mainheader
.mainheader {
  background-color: #f0f2f3;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .search-input {
      position: relative;
      input {
        padding: 12px 16px;
        border-radius: 5px;
        padding-right: 40px;
        border: 0;
        font-size: 16px;
        text-transform: capitalize;
        box-sizing: border-box;
      }
      svg {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }
    .header-action {
      display: flex;
      a {
        padding: 12px 16px;
        border-radius: 8px;
        background-color: #fff;
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        transition: all 1s ease-in-out;
        &:hover {
          background-color: #029fae;
          color: #fff;
        }
        &.cart {
          svg {
            margin-right: 8px;
          }
          font-size: 12px;
          .count {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #029fae;
            color: #fff;
            font-size: 10px;
            text-align: center;
            line-height: 20px;
            margin-left: 12px;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            .count {
              background-color: #fff;
              color: $color;
            }
          }
        }
      }
    }
  }
}
